:root {
  --color-primario: #0b3c4d;
  --color-secundario: #f5af00;
  --color-fondo: #f3f4f7;
  --color-input-bg: #f3f6fa;
  --color-texto-principal: #5b5b5b;
  --color-borde-input: rgba(91, 91, 91, 0.3);
  --color-focus: #ffb703;
  --color-blanco: #ffffff;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f7;
  padding: 30px;
}

#root {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.dashboard {
  padding: 35px 0px;
  color: #5b5b5b;
}

.summary-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
}

.card {
  background: white;
  padding: 20px;
  flex: 1;
  text-align: start;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-value {
  font-size: 48px;
  font-weight: bold;
}

.card-label {
  font-size: 18px;
  font-weight: 600;
}

.card.activa {
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card.activa:hover {
  transform: scale(1.03);
}

.table-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

table .estado {
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
}

.estado.Aprobado {
  background-color: #69c0511a;
  color: var(--color-aprobado);
}

.card.aprobado .card-value {
  color: var(--color-aprobado);
}

.estado.En-corrección {
  background-color: #e7b7171a;
  color: var(--color-correccion);
}

.card.en-correccion .card-value {
  color: var(--color-correccion);
}

.estado.En-revisión {
  background-color: #f230301a;
  color: var(--color-pendiente);
}

.card.pendiente .card-value {
  color: var(--color-pendiente);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
