/* Revision.css */

.revision-grid {
  display: grid;
  grid-template-columns: 220px 1fr 320px;
  gap: 1.5rem;
  padding: 2rem;
  padding-bottom: 0;
}

.sidebar-documentos {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-documentos h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar-documentos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-documentos .doc-item {
  padding: 8px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
  background-color: white; /* Fondo por defecto */
}

.sidebar-documentos .doc-item:hover {
  background: #eaeaea !important; /* Forzar hover con !important */
}

.sidebar-documentos .doc-item.activo {
  background: #0b3c4d !important;
  color: #fff;
  font-weight: bold;
}

.sidebar-documentos .doc-item.revisado {
  background: #69c0511a;
}

.sidebar-documentos .doc-item.con-comentarios {
  background: #f230301a;
}

.visor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .dropdown-selector {
  width: 100%;
  padding: 0.5rem;
  font-weight: 600;
  font-family: inherit;
  font-size: 0.95em;
  margin-bottom: 1.5rem;
  color: var(--color-primario);
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: white;
  appearance: none;
  background-size: 1em;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%230b3c4d' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: 1.5em;
  transition: border-color 0.2s ease;
}

.dropdown-selector:focus {
  outline: none;
  border: 2px solid var(--color-secundario, #f5af00);
} */

.documento {
  width: 100%;
  max-width: 700px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.paginacion {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.informacion .detalle-container {
  padding: 0;
}

.card {
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 1rem;
}

.info-proyecto h3 {
  margin: 0.5rem 0 0;
  font-size: 0.95rem;
  color: #444;
}

.info-proyecto p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.revision-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.revision-box textarea {
  width: 90%;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: "Poppins";
  color: var(--color-texto-principal);
  background-color: var(--color-text-area);
}

.revision-box textarea:focus {
  outline: none;
  border: 1px solid var(--color-secundario);
}

/* Resumen de revisión */
.revision-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.resumen-modal {
  text-align: center;
}

.resumen-modal h2 {
  text-align: start;
}

.resumen-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.resumen-card h3,
.resumen-card p,
.resumen-card button {
  margin: 0;
}

.resumen-card h3 {
  width: 50%;
}

.resumen-card p {
  width: 40%;
}

.resumen-card button {
  width: 10%;
}

.abrir-pdf-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #444;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.abrir-pdf-btn:hover {
  background-color: #222;
}
